# Reach Modpack .gitignore

# folders

/.asm/
/assets/
/backups/

/crash-reports/
/logs/

/disabledmods/

/ESM/
/falsepattern/
/journeymap/

/resourcepacks/
/saves/
/shaderpacks/

/config/recipes/
/config/AppliedEnergistics2/recipes/
/config/NEI/
/config/notfine/

# files

bettercrashes-stackdeobfuscator-methods.csv
instance.json
modlist.md
options.txt
optionsnf.txt
usernamecache.json

/config/angelica-compat.cfg
/config/angelica-modules.cfg
/config/angelica-options.json
/config/angelica.cfg
/config/shader.properties
/config/splash.properties

*.matter

*.dll